

<div class="">
    <span class="text-2xl">Add Students</span>
    <form action="" method="post" class="flex flex-col gap-1 w-[80%]">
        <label for="name" class="text-lg mt-5 ">Full Name</label>
        <input type="text" name="name" id="name" required placeholder="Full Name"
        class="py-3 px-5 bg-inherit rounded-lg transition-all duration-200 outline-none focus:ring-1 focus:ring-sky-200 border-2 border-gray-400">
        <label for="email" class="text-lg mt-5 ">Email</label>
        <input type="text" name="email" id="email" required placeholder="Email"
        class="py-3 px-5 bg-inherit rounded-lg transition-all duration-200 outline-none focus:ring-1 focus:ring-sky-200 border-2 border-gray-400">
        <label for="Phone Number" class="text-lg mt-5 ">Phone Number</label>
        <input type="number" name="phone" id="phone" required placeholder="Phone Number"
        class="py-3 px-5 bg-inherit rounded-lg transition-all duration-200 outline-none focus:ring-1 focus:ring-sky-200 border-2 border-gray-400">
        <button class="w-[100px] mt-5 py-3 bg-inherit shadow-lg shadow-gray-500 border-2 hover:bg-gray-700 rounded-lg transition-all duration-200">Add</button>
    </form>
</div>