
<div class="flex items-center justify-between bg-gray-700 py-2 md:px-10 px-5 shadow shadow-gray-500">
    <div class="lg:flex-[0.5] md:flex-[0.3] flex-[0.2] flex md:justify-center">
        <span class="text-4xl font-[Alkatra]">HL</span>
    </div>
    <div class="flex-1 flex md:justify-center justify-end items-center gap-2">
        <input type="search" placeholder="Search..."
        class="sm:block hidden py-2 px-4 bg-gray-600 md:w-[60%] sm:w-[70%] w-[80%] rounded border-none outline-none transition-all duration-200 focus:ring-2 focus:ring-sky-200">
        <span class="cursor-pointer">
            <i class="fa-sharp fa-solid fa-magnifying-glass fa-xl" ></i>
        </span>
    </div>
    <span class="lg:hidden flex-[0.2] flex justify-end cursor-pointer">
        <i class="fa-solid fa-bars fa-xl"></i>
    </span>
    <ul class="flex-1 lg:flex hidden items-center gap-6">
        <li class="py-2 hover:text-red-600 cursor-pointer transition-all duration-200 text-red-600">Home</li>
        <li class="py-2 hover:text-red-600 cursor-pointer transition-all duration-200">Student</li>
        <li class="py-2 hover:text-red-600 cursor-pointer transition-all duration-200">Service</li>
        <li class="py-2 hover:text-red-600 cursor-pointer transition-all duration-200">About</li>
        <li class="py-2 hover:text-red-600 cursor-pointer transition-all duration-200">Contact</li>
        <a href="logout">
            <li class="py-2 px-5 bg-gray-600 hover:bg-red-600 rounded-lg cursor-pointer">LogOut</li>
        </a>
    </ul>
</div>