{% extends 'Layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="lg:px-[70px] px-[30px] md:py-10 py-5">
        <div class="flex justify-between items-center">
            <span class="text-2xl font-semibold">
                Student Management
            </span>
            <span class="lg:flex hidden items-center gap-2 border px-5 rounded">
                <input type="search" placeholder="Search..."
                class="py-2 px-2 bg-gray-600 rounded outline-none  transition-all duration-200">
                <span class="cursor-pointer border-l-2 pl-3">
                    <i class="fa-sharp fa-solid fa-magnifying-glass fa-xl" ></i>
                </span>
            </span>
        </div>
        <hr>
        <div class="lg:flex lg:gap-10 mt-5 lg:w-full w-[90%] mx-auto">
            <div class="xl:flex-[0.8] lg:flex-[0.6]">
                {% include 'page/FormAdd.html' %}
            </div>
            <div class="lg:flex-1 overflow-auto h-full mt-10">
                {% include 'page/Table.html' %}    
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="../../static//js//validationAdd.js"></script>
    <script src="../../static/js/deleteStudent.js"></script>
{% endblock %}