

<table class="w-full">
    <thead>
        <tr class="bg-gray-700">
            <th class="px-3 py-4">#No.</th>
            <th class="px-3 py-4">Name</th>
            <th class="px-3 py-4" colspan="2" class="px-3 py-2">Email</th>
            <th class="px-3 py-4" colspan="2">Phone Number</th>
            <th class="px-3 py-4" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-gray-500">
            <td align="center" class="py-2 px-3">1</td>
            <td align="center" class="py-2 px-3">Horleng Ly</td>
            <td align="center" colspan="2" class="py-2 px-3">Horleng@gmail.com</td>
            <td align="center" colspan="2" class="py-2 px-3">(+885)964083197</td>
            <td align="center"><i class="fa-solid fa-user-pen fa-lg cursor-pointer"></i></td>
            <td align="center" ><i class="fa-solid fa-trash fa-lg cursor-pointer"></i></td>
        </tr>
        <tr class="bg-gray-400">
            <td align="center" class="py-2 px-3">1</td>
            <td align="center" class="py-2 px-3">Horleng Ly</td>
            <td align="center" colspan="2" class="py-2 px-3">Horleng@gmail.com</td>
            <td align="center" colspan="2" class="py-2 px-3">(+885)964083197</td>
            <td align="center"><i class="fa-solid fa-user-pen fa-lg cursor-pointer"></i></td>
            <td align="center" ><i class="fa-solid fa-trash fa-lg cursor-pointer"></i></td>
        </tr>
    </tbody>
</table>