{% extends 'index.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    
    <div class="w-screen h-screen overflow-hidden bg-gray-700 py-16">
        <div class="lg:w-[40%] md:w-[60%] sm:w-[80%] w-[90%] mx-auto transition-all duration-500 bg-gray-600 lg:p-12 md:p-8 sm:p-6 p-5 rounded-lg shadow-sm shadow-gray-400">
            <span class="text-4xl text-gray-400">Login</span>
            <div class="md:mt-4 mt-2">
                <form action="requestLogin" method="post" class="flex flex-col gap-2">
                    <label for="email" class="text-lg">Email</label>
                    <input type="email" email id="email" name="email" placeholder="Your email" required  
                    class="py-3 px-5 bg-inherit border-2 rounded-lg border-gray-400 focus:ring-1 focus:ring-sky-500 transition-all duration-200 outline-none">
                    <label for="password" class="text-lg">Password</label>
                    <input type="password" password id="password" name="password" placeholder="Your password" required  
                    class="py-3 px-5 bg-inherit border-2 rounded-lg border-gray-400 focus:ring-1 focus:ring-sky-500 transition-all duration-200 outline-none">
                    <button submit-btn class="w-[100px] self-end py-3 bg-inherit hover:bg-gray-700 rounded-lg border mt-2 transition-all duration-200 shadow-lg shadow-gray-400 hover:shadow-gray-700">Login</button>
                    <span>
                        Did not account yet? <a href="signUp" class="underline text-sm text-blue-500">Create one</a>
                    </span>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="../../static/js/validation.js"></script>

{% endblock %}
